body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 251, 251); 
    padding: 350px;  
}

h5 {
    font-style: italic;
    color: rgb(75, 43, 43);
    padding-left: 150px;  
}

form {
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 10px, 0.1);
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid rgb(174, 174, 200);
    border-radius: 6px;
}
button {
    background-color: rgb(46, 132, 224);
    color: white;
    padding: 10px; 
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: rgb(138, 181, 226);
}